USE [master]
GO
/****** Object:  Database [milkteaManagement]    Script Date: 30-Jun-22 8:02:20 ******/
CREATE DATABASE [milkteaManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'milkteaManagement', FILENAME = N'D:\Program File\MSSQL15.SQLEXPRESS\MSSQL\DATA\milkteaManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'milkteaManagement_log', FILENAME = N'D:\Program File\MSSQL15.SQLEXPRESS\MSSQL\DATA\milkteaManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [milkteaManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [milkteaManagement]
GO
/****** Object:  Table [dbo].[tblBannerNew]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBannerNew](
	[bannerNewID] [int] IDENTITY(1,1) NOT NULL,
	[images] [nvarchar](4000) NULL,
 CONSTRAINT [PK__tblBanne__FD1C7B9DE6D8AD09] PRIMARY KEY CLUSTERED 
(
	[bannerNewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBlogNew]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBlogNew](
	[blogNewID] [nvarchar](50) NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](4000) NULL,
	[images] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[blogNewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[images] [nvarchar](400) NULL,
	[hashtag] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[total] [float] NULL,
	[userID] [int] NULL,
 CONSTRAINT [PK__tblOrder__0809337D841F3D2E] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[productID] [nvarchar](50) NULL,
	[orderID] [int] NULL,
 CONSTRAINT [PK__tblOrder__83077839B90332E0] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[productID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[price] [float] NULL,
	[status] [int] NULL,
	[description] [nvarchar](4000) NULL,
	[discount] [int] NULL,
	[image_link] [nvarchar](4000) NULL,
	[created] [date] NULL,
	[categoryID] [nvarchar](50) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK__tblProdu__2D10D14ADEC5E31B] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductProductType]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductProductType](
	[productID] [nvarchar](50) NOT NULL,
	[productTypeID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[productTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductType]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductType](
	[productTypeID] [nvarchar](50) NOT NULL,
	[productTypeName] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReview]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReview](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [nvarchar](50) NULL,
	[content] [nvarchar](4000) NULL,
	[created] [date] NULL,
	[userID] [int] NULL,
 CONSTRAINT [PK__tblRevie__2ECD6E241DFF4036] PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[roleID] [nvarchar](50) NOT NULL,
	[roleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 30-Jun-22 8:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[phone] [nvarchar](50) NULL,
	[created] [date] NULL,
	[roleID] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblUsers__CB9A1CDF3475C900] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBannerNew] ON 

INSERT [dbo].[tblBannerNew] ([bannerNewID], [images]) VALUES (1, N'https://minio.thecoffeehouse.com/image/admin/1653325967_web-cu.jpg')
INSERT [dbo].[tblBannerNew] ([bannerNewID], [images]) VALUES (2, N'https://phuclong.com.vn/uploads/banner/850e268b4c2219-postmomo_1920576oldweb.png')
INSERT [dbo].[tblBannerNew] ([bannerNewID], [images]) VALUES (3, N'https://phuclong.com.vn/uploads/banner/693431e1a25871-banner_1920576.png')
SET IDENTITY_INSERT [dbo].[tblBannerNew] OFF
GO
INSERT [dbo].[tblCategory] ([categoryID], [name], [images], [hashtag]) VALUES (N'1', N'Cà phê', N'https://minio.thecoffeehouse.com/image/tch-web-order/category-thumbnails/ca-phe.png', N'caphe')
INSERT [dbo].[tblCategory] ([categoryID], [name], [images], [hashtag]) VALUES (N'2', N'Trà trái cây trà sữa', N'https://minio.thecoffeehouse.com/image/tch-web-order/category-thumbnails/tra-trai-cay-tra-sua.png', N'traicaytrasua')
INSERT [dbo].[tblCategory] ([categoryID], [name], [images], [hashtag]) VALUES (N'3', N'Hi-Tea Healthy', N'https://minio.thecoffeehouse.com/image/tch-web-order/category-thumbnails/hi-tea.png', N'hitea')
GO
SET IDENTITY_INSERT [dbo].[tblOrder] ON 

INSERT [dbo].[tblOrder] ([orderID], [date], [total], [userID]) VALUES (21, CAST(N'2022-06-26' AS Date), 118, NULL)
INSERT [dbo].[tblOrder] ([orderID], [date], [total], [userID]) VALUES (22, CAST(N'2022-06-26' AS Date), 447, NULL)
INSERT [dbo].[tblOrder] ([orderID], [date], [total], [userID]) VALUES (23, CAST(N'2022-06-26' AS Date), 194.4, NULL)
SET IDENTITY_INSERT [dbo].[tblOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrderDetail] ON 

INSERT [dbo].[tblOrderDetail] ([detailID], [quantity], [price], [productID], [orderID]) VALUES (41, 1, 58000, N'11', 21)
INSERT [dbo].[tblOrderDetail] ([detailID], [quantity], [price], [productID], [orderID]) VALUES (42, 1, 30000, N'1', 21)
INSERT [dbo].[tblOrderDetail] ([detailID], [quantity], [price], [productID], [orderID]) VALUES (43, 1, 30000, N'13', 21)
SET IDENTITY_INSERT [dbo].[tblOrderDetail] OFF
GO
INSERT [dbo].[tblProduct] ([productID], [name], [price], [status], [description], [discount], [image_link], [created], [categoryID], [quantity]) VALUES (N'1', N'Cà Phê Sữa Đá', 30000, 1, N'Cà phê Đắk Lắk nguyên chất được pha phin truyền thống kết hợp với sữa đặc tạo nên hương vị đậm đà, hài hòa giữa vị ngọt đầu lưỡi và vị đắng thanh thoát nơi hậu vị.', 0, N'https://minio.thecoffeehouse.com/image/admin/1639377738_ca-phe-sua-da.jpg', CAST(N'2022-06-28' AS Date), N'1', 91)
INSERT [dbo].[tblProduct] ([productID], [name], [price], [status], [description], [discount], [image_link], [created], [categoryID], [quantity]) VALUES (N'10', N'Trà Hạt Sen - Nóng', 49000, 0, N'Nền trà oolong hảo hạng kết hợp cùng hạt sen tươi, bùi bùi thơm ngon. Trà hạt sen là thức uống thanh mát, nhẹ nhàng phù hợp cho cả buổi sáng và chiều tối.', 0, N'https://minio.thecoffeehouse.com/image/admin/tra-sen-nong_025153.jpg', CAST(N'2022-06-27' AS Date), N'2', 0)
INSERT [dbo].[tblProduct] ([productID], [name], [price], [status], [description], [discount], [image_link], [created], [categoryID], [quantity]) VALUES (N'11', N'Hồng Trà Sữa Nóng', 58000, 1, N'Từng ngụm trà chuẩn gu ấm áp, đậm đà beo béo bởi lớp sữa tươi chân ái hoà quyện. Trà đen nguyên lá âm ấm dịu nhẹ, quyện cùng lớp sữa thơm béo khó lẫn - hương vị ấm áp chuẩn gu trà, cho từng ngụm nhẹ nhàng, ngọt dịu lưu luyến mãi nơi cuống họng.', 0, N'https://minio.thecoffeehouse.com/image/admin/hong-tra-sua-nong_941687.jpg', CAST(N'2022-06-26' AS Date), N'2', 87)
GO
INSERT [dbo].[tblProductProductType] ([productID], [productTypeID]) VALUES (N'10', N'3')
INSERT [dbo].[tblProductProductType] ([productID], [productTypeID]) VALUES (N'13', N'1')
INSERT [dbo].[tblProductProductType] ([productID], [productTypeID]) VALUES (N'16', N'2')
GO
INSERT [dbo].[tblProductType] ([productTypeID], [productTypeName]) VALUES (N'1', N'SẢN PHẨM MỚI')
INSERT [dbo].[tblProductType] ([productTypeID], [productTypeName]) VALUES (N'2', N'SẢN PHẨM GIẢM GIÁ')
INSERT [dbo].[tblProductType] ([productTypeID], [productTypeName]) VALUES (N'3', N'SẢN PHẨM BÁN CHẠY')
GO
SET IDENTITY_INSERT [dbo].[tblReview] ON 

INSERT [dbo].[tblReview] ([reviewID], [productID], [content], [created], [userID]) VALUES (1, N'1', N'Sản phẩm tuyệt vời', CAST(N'2022-06-11' AS Date), NULL)
INSERT [dbo].[tblReview] ([reviewID], [productID], [content], [created], [userID]) VALUES (2, N'1', N'Sản phẩm khá là tốt', CAST(N'2022-06-11' AS Date), NULL)
INSERT [dbo].[tblReview] ([reviewID], [productID], [content], [created], [userID]) VALUES (3, N'30', N'Bố tôi rất thích sản phẩm này, rất tuyệt với nhà shop
', CAST(N'2022-06-11' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[tblReview] OFF
GO
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (N'1', N'AD')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (N'2', N'US')
GO
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([userID], [name], [email], [address], [phone], [created], [roleID], [username], [password]) VALUES (1, N'Admin', N'nguyenhuy1323614@gmail.com', N'HCM', N'0123456789', CAST(N'2022-06-25' AS Date), N'1', N'admin', N'admin')
INSERT [dbo].[tblUsers] ([userID], [name], [email], [address], [phone], [created], [roleID], [username], [password]) VALUES (9, N'Trần Tuấn Tài', N'tuan113@gmail.com', N'HCM', N'0123456789', CAST(N'2022-06-25' AS Date), N'2', N'tuan113', N'tuan123')
INSERT [dbo].[tblUsers] ([userID], [name], [email], [address], [phone], [created], [roleID], [username], [password]) VALUES (12, N'Lê Trần Nam', N'namle113@gmail.com', N'HCM', N'0123456789', CAST(N'2022-06-16' AS Date), N'2', N'namle113', N'123')
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__order__09746778] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__order__09746778]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__produ__756D6ECB] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProduct] ([productID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__produ__756D6ECB]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__categ__440B1D61] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK__tblProduc__categ__440B1D61]
GO
ALTER TABLE [dbo].[tblReview]  WITH CHECK ADD  CONSTRAINT [FK__tblReview__tblUsers] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblReview] CHECK CONSTRAINT [FK__tblReview__tblUsers]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK__tblUsers__roleID__3C69FB99] FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRoles] ([roleID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK__tblUsers__roleID__3C69FB99]
GO
USE [master]
GO

